.lastDataContent{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
   

}

.lastDataContent .content{
    background-color: white;
    padding-bottom: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.lastDataContent .content img{
    width: 15vw;
    padding-top: 2vh;
    padding-right: 3vw;
    padding-left: 3vw;
}

.lastDataContent .content p{
    font-size: 20px;
    font-weight: 600;
}

.content .btnDetail{
    background-color: #ab191f;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
}

.lastDataContent .title{
    border-bottom: 1px solid #e3e6f0;
    background-color: #f8f9fc;
    text-align: start;
    padding-left: 1vw;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    
}