.userTable{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 80vw;
    margin-bottom: 5vh;
}

table{
    table-layout: fixed;
}

table #id{
    width: 5vw;
}

#head{
    background-color: black;
    color: white;
    width:100%;
    text-transform: uppercase;
    border: 1px black solid;    
}
