tbody td {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
}

#id {
    width: 3vw;
}

#name {
    width: 8vw;
}

#surname {
    width: 8vw;
}

#email {
    width: 2vw;
}

#detail{
    width: 2vw;
}